<div>
  <h3>This is your profile</h3>

  <div id="profile-container">
    <p>Name: {{this.moderatorProfile.username}}</p>
    <p>Country: {{this.userProfile.country}}</p>

    {{#if this.moderatorProfile.profilePic}}
      <img src="{{this.moderatorProfile.profilePic}}" alt="profile-pic" class="profile-pic">
    {{/if}}

    <form id="form-profile-picture" action="/profile-picture" method="post" enctype="multipart/form-data">
      <label for="image">Profile Picture:</label>
      <input type="file" name="image">

      {{#if this.moderatorProfile.profilePic}} 
        <button>Edit image</button>
      {{else}}
        <button>Upload image</button>
      {{/if}}
    </form>

    <div class="my-followed-users"> 
      {{#each this.userProfile.followed}}
        <div class="user-i-followed">
          <img src="{{this.profilePic}}" alt="Profile picture" class="small-profile-pic">
          <p><strong>{{this.username}}</strong> </p>
          <p>{{this.country}}</p>
        </div>
      {{/each}}
    </div>


<button>
    <a href="/all-users">edit community</a>
</button>

<button>
    <a href="/all-bands">edit bandsy</a>
</button>


