<div class="grid-container">




<h2>Discover our music gurús</h2>

{{#each this.allUsers}}


<div class="user-profiles-container">


<img src="{{this.profilePic}}" alt="Profile picture"  height="300px">
<p>Name: {{this.username}}</p>
<p>Country: {{this.country}}</p>

<div class="button-wrapper">
<button>
    <a href="/all-users/{{this._id}}"> See more</a>
</button>

<form action= "/all-users/{{this._id}}/delete"method="post">

<button>
    Delete Profile
</button>

</form>

</div>


</div>



{{/each}}