{{!-- <div>
  <h2>This is your profile</h2>

  <div id="profile-container">
    <p>Name: {{this.userProfile.username}}</p>
    <p>Country: {{this.userProfile.country}}</p>

    {{#if this.userProfile.profilePic}}
      <img src="{{this.userProfile.profilePic}}" alt="profile-pic" class="profile-pic">
    {{/if}}

    <form id="form-profile-picture" action="/profile-picture" method="post" enctype="multipart/form-data">
      <label for="image">Profile Picture:</label>
      <input type="file" name="image">

      {{#if this.userProfile.profilePic}} 
        <button>Edit image</button>
      {{else}}
        <button>Upload image</button>
      {{/if}}
    </form>

    <div class="my-followed-users"> 
      {{#each this.userProfile.followed}}
        <div class="user-i-followed">
          <img src="{{this.profilePic}}" alt="Profile picture" class="small-profile-pic">
          <p><strong>{{this.username}}</strong> </p>
          <p>{{this.country}}</p>
        </div>
      {{/each}}
    </div>


     <div class="my-followed-bands"> 
      {{#each this.userProfile.favoriteBand}}
        <div class="user-i-followed">
          <img src="{{this.bandPic}}" alt="Profile picture" class="small-profile-pic">
          <p><strong>{{this.name}}</strong> </p>
          <p>{{this.genre}}</p>
        </div>
      {{/each}}
    </div>


  </div>
</div> --}}

<div class= "grid-container profile">
  <h2>This is your profile</h2>

<div class="column-one">  

  <div id="profile-container">
    <p>Name: {{this.userProfile.username}}</p>
    <p>Country: {{this.userProfile.country}}</p>

    {{#if this.userProfile.profilePic}}
      <img src="{{this.userProfile.profilePic}}" alt="profile-pic" class="profile-pic">
    {{/if}}

    <form id="form-profile-picture" action="/profile-picture" method="post" enctype="multipart/form-data">
      <label for="image">Profile Picture:</label>
      <input type="file" name="image">

      {{#if this.userProfile.profilePic}} 
        <button>Edit image</button>
      {{else}}
        <button>Upload image</button>
      {{/if}}
    </form>

  </div>

</div>



<div class="column-two"> 
    <div class="my-followed-users"> 
      {{#each this.userProfile.followed}}
        <div class="user-i-followed">
          <img src="{{this.profilePic}}" alt="Profile picture" class="small-profile-pic">
          <p><strong>{{this.username}}</strong> </p>
          <p>{{this.country}}</p>
        </div>
      {{/each}}
        <button>
            <a href="/all-users">edit community</a>
        </button>
    </div>


<div class="my-followed-bands"> 
      {{#each this.Profile.favoriteBand}}
        <div class="user-i-followed">
          <img src="{{this.bandPic}}" alt="Profile picture" class="small-profile-pic">
          <p><strong>{{this.name}}</strong> </p>
          <p>{{this.genre}}</p>
        </div>
      {{/each}}
      <button>
          <a href="/all-bands">edit bands</a>
      </button>
    </div>
</div>

</div>

