<div>

<h2>Band info</h2>


<img src="{{this.oneBand.bandPic}}" alt="Band picture"  height="300px">

<h3>{{this.oneBand.name}}</h3>


<p>Country: {{this.oneBand.info}}</p>

<p>instagram: {{this.oneBand.instagramUrl}}</p>
<p>facebook: {{this.oneBand.facebookUrl}}</p>
<p>spotify: {{this.oneBand.spotifyUrl}}</p>

<form action="/follow/{{this.connectedUser._id}}/{{this.oneUser._id}}" method="post">

    <button class="btn-user-favorites"> Follow</button> 

    </form>


<div>