<div>

<h2>Band info</h2>


<img src="{{this.oneBand.bandPic}}" alt="Band picture"  height="300px">

<h3>{{this.oneBand.name}}</h3>


<p> <strong>Info:</strong> {{this.oneBand.info}}</p>



<a href="{{this.oneBand.instagramUrl}}"target="blank" >instagram </a>
<br>
<br>

<a href="{{this.oneBand.facebookUrl}}"target="blank">facebook </a>
<br>
<br>

<a href="{{this.oneBand.spotifyUrl}}" target="blank">spotify </a>

<br>
<br>

<form action="/my-bands/{{this.connectedUser._id}}/{{this.oneBand._id}}" method="post">

    <button class="btn-user-favorites"> Follow</button> 

    </form>
<br>
    <form action="/comment-create/{{this.oneBand._id}}" method="post">
<label for="rating">Rate this band</label>
    <select name="rating"> 
            <option value=1>1</option>
              <option value=2>2</option>
              <option value=3>3</option>
              <option value=4>4</option>
                <option value=5>5</option>
                </select>
                <br>
           <label for="comment" class="form-label">Comment: </label>
    <textarea name="comment" rows="5"></textarea>
    <br>


    <button style="margin-top: 10px;" >Submit</button>
    
    </form>

    {{#each this.comment}}

    <h3>{{this.user.username}}</h3>
    <p>Rating: {{this.rating}}</p>
    <p>Comment: {{this.comment}}</p>


    {{/each}}


<div>